Flask
Flask-Assets
Flask-SQLAlchemy
Flask-Script
Flask-Mail
Flask-Uploads
Flask-Babel
https://github.com/nimnull/flask-security/zipball/develop#egg=Flask-Security
https://github.com/nimnull/flask-social/zipball/develop#egg=Flask-Social
https://github.com/nimnull/trafaret/zipball/master#egg=trafaret
sqlamp
# ---- social auth deps
python-twitter
# ---- core deps
psycopg2
PIL
unidecode
# --- test deps
pytest
yuicompressor
closure
