{% macro base_field(field, class="input-medium") %}
<div class="control-group">
  {{ field.label(class='control-label') }}
  <div class="controls">
    {{ caller(field) }}
  </div>
</div>
{% endmacro %}

{% macro text_field(field, class="input-medium") %}
  {% call(field) base_field(field, class=class) %}
    {{ field(class=class, placeholder=field.description) }}
  {% endcall %}
{% endmacro %}

{% macro date_field(field, class="input-medium") %}
  {% call(field) base_field(field, class=class) %}
    <div class="input-append">
      {{ field(type='datetime-local', class=class, placeholder=field.description) }}<span class="add-on"><i class="icon-calendar"></i></span>
    </div>
  {% endcall %}
{% endmacro %}

{% macro base_form(form, action=".", field_class="input-medium", class="form-vertical") %}
<form class="{{ class }}" method="{{ post }}" action="{{ action }}">
  {{ caller(form) }}
</form>
{% endmacro %}

{% macro form_for(form, action=".", field_class="input-medium", class="form-vertical") %}
  {% call(form) base_form(form, action=action, field_class=field_class, class=class) %}

    {% if "form-inline" in class -%}
      {% for field in form %}
        {{ field(class=field_class, placeholder=field.description) }}
      {% endfor %}
    {% else %}
      <fieldset>
        {%- for field in form -%}

          {%- if field.type in ['HiddenField', 'CSRFTokenField'] %}
            {{ field }}
          {% elif field.type == "DateTimeField" %}
            {{ date_field(field, class=field_class) }}
          {%- else %}
            {{ text_field(field, class=field_class) }}
          {% endif -%}

        {% endfor -%}
      </fieldset>
    {% endif %}
    <button type="submit" class="btn btn-inverse">{{ kwargs.submit|default("Go!") }}</button>
  {% endcall %}
{% endmacro %}

{% macro menu_el(endpoint) %}
  <li{% if request.endpoint == endpoint %} class="active"{% endif %}>{{ caller() }}</li>
{% endmacro %}



{#
      <div class="control-group">
        {{ field.label(class='control-label') }}
        <div class="controls">
          {% if field.type == "DateTimeField" %}
          <div class="input-append">
            {{ field(type='datetime-local', class=field_class, placeholder=field.description) }}<span class="add-on"><i class="icon-calendar"></i></span>
          </div>
          {% else %}
          {{ field(class=field_class, placeholder=field.description) }}
          {% endif %}
        </div>
      </div>
#}
