{% macro base_field(field, class="input-medium") %}
<div class="control-group">
  {{ field.label(class='control-label') }}
  <div class="controls">{{ caller(field) }}</div>
</div>
{% endmacro %}

{% macro text_field(field, class="input-medium") %}
  {% call(field) base_field(field, class=class) %}
    {{ field(class=class, placeholder=field.description) }}
  {% endcall %}
{% endmacro %}

{% macro date_field(field, class="input-medium") %}
  {% call(field) base_field(field, class=class) %}
    <div class="input-append">
      {{ field(type='datetime-local', class=class, placeholder=field.description) }}<span class="add-on"><i class="icon-calendar"></i></span>
    </div>
  {% endcall %}
{% endmacro %}

{% macro check_field(field) %}
<div class="control-group">
  <div class="controls"><label class="checkbox">{{ field }}{{ field.label.text }}</label></div>
</div>
{% endmacro %}

{% macro base_form(form, action=".", field_class="input-medium", class="form-vertical") %}
<form class="{{ class }}" method="post" action="{{ action }}">
  {{ caller(form) }}
</form>
{% endmacro %}

{% macro form_for(form, action=".", field_class="input-medium", class="form-vertical") %}
  {% call(form) base_form(form, action=action, field_class=field_class, class=class) %}
      <fieldset>
        {%- for field in form -%}
          {%- if field.type in ['HiddenField', 'CSRFTokenField'] %}
            {{ field }}
          {% elif field.type == "BooleanField" %}
            {{ check_field(field) }}
          {% elif field.type == "DateTimeField" %}
            {{ date_field(field, class=field_class) }}
          {% elif field.type == 'SubmitField' %}

          {%- else %}
            {{ text_field(field, class=field_class) }}
          {% endif -%}
        {% endfor -%}
      </fieldset>
    <button type="submit" class="pull-right btn btn-inverse">{{ kwargs.submit|default("Go!") }}</button>
  {% endcall %}
{% endmacro %}

{% macro menu_el(endpoint) %}
  <li{% if request.endpoint == endpoint %} class="active"{% endif %}>{{ caller() }}</li>
{% endmacro %}
