<!DOCTYPE html>
{% from "_macro.html" import form_for, menu_el with context %}
{% if not page_title %}{% set page_title = "Hello and welcome, my dear friend!" %}{% endif %}
<html>
  <head>
    <title>{% block title %}{{ page_title }}{% endblock %} - Fancy Service</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename="less/bootstrap.less") }}">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename="less/responsive.less") }}">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename="less/style.less") }}">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    {% assets "vendor_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "user_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </head>
  <body>
    {% if g.user.is_anonymous() %}
      {% include "auth/_form_sign_in.html" %}
      {% include "auth/_form_sign_up.html" %}
    {% endif %}
    <div class="container">
      <ul class="nav nav-pills pull-right">
        {% call menu_el('auth.sign_in') %}
          <a href="{{ url_for('core.index') }}">Main</a>
        {% endcall %}
        <li><a href="#">About</a></li>
        <li><a href="#">Help</a></li>
        {% if g.user.is_anonymous() %}
        <li><a data-toggle="modal" href="#signUp">Sign Up</a></li>
        <li><a data-toggle="modal" href="#signIn">Login</a></li>
        {% else %}
        <li><a data-toggle="modal" href="{{ url_for('auth.profile') }}">Profile</a></li>
        <li><a data-toggle="modal" href="#signIn">Logout</a></li>
        {% endif %}
      </ul>
    </div>
    {% block content_wrapper %}
    <div class="container">
      <div class="row">
        <div class="span12 page-header">
          <h2>{{ self.title() }}</h2>
        </div>
      </div>
    </div>
    <div class="container">
      {% block content %}
      <div class="well" style="text-align: center; vertical-align: middle;">
        <p>Some nice text will be placed here</p>
      </div>
      {% endblock %}
    </div>
    {% endblock %}
    <!-- modals -->
  </body>
  <script type="text/javascript">
  (function($) {
    $(function() {
      $("ul.nav li.active i[class*='icon']").addClass("icon-white");
    });
  })(jQuery);
  </script>
</html>
