{% extends "base_auth.html" %}
{% from "_macro.html" import base_form, text_field, date_field %}

{% set page_title = "Create something for &laquo;{}&raquo;?".format(story.name)|safe() %}

{% block content %}
  <h2>{{ self.title() }}</h2>
  {% call(event_form) base_form(event_form, class="form-vertical event") %}
    {{ event_form.csrf_token }}
    <fieldset>
      <div class="row">
        <div class="span6">
          <legend>Details</legend>
          {{ text_field(event_form.name, class="input-xxlarge") }}
          {{ text_field(event_form.description, class="input-xxlarge") }}
          {{ text_field(event_form.address, class="input-xxlarge") }}
        </div>
        <div class="span4">
          <legend>Event dates</legend>
          {{ date_field(event_form.starts_at) }}
          {{ date_field(event_form.ends_at) }}
          <legend>Registration limits</legend>
          {{ date_field(event_form.reg_starts) }}
          {{ date_field(event_form.reg_ends) }}
          {{ text_field(event_form.max_participants) }}
        </div>
      </div>
      <div class="row">
        <div class="form-actions">
          <button type="submit" class="pull-right btn btn-inverse">Go on, create!</button>
        </div>
      </div>
    </fieldset>
  {% endcall %}
{% endblock %}
