<table class="table table-striped font_12pt">
  <thead>
    <tr>
      <th>Title</th>
      <th><i class="icon-user" /></th>
      <th><i class="icon-time"></i> start</th>
      <th><i class="icon-time"></i> end</th>
      <th>stop</th>
    </tr>
  </thead>
  <tbody>
  {% for event in events %}
    <tr>
      <td><a href="{{ url_for('.show_event', id=event.id) }}">{{ event.name }}</a></td>
      <td><span class="badge badge-success">{{ event.participants|length() }}</span></td>
      <td>{{ event.starts_at.strftime("%d.%m.%Y %H:%M") }}</td>
      <td>{{ event.ends_at.strftime("%d.%m.%Y %H:%M") }}</td>
      <td><a href="#"><i class="icon-remove" /> </a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
