{% extends "base_auth.html" %}

{% set page_title = "Your story is: {}".format(story.name) %}

{% block content %}
  <div class="row">
    <div class="span8">
      <h2>
        {{ self.title() }}
        <small>
          <a href="{{ url_for('.edit_story', id=story.id) }}"><i class="icon-pencil"></i></a>
        </small>
      </h2>
    </div>
    <div class="span2">
      <a href="{{ url_for('.create_event', id=story.id)}}" class="btn btn-success pull-right">Create an event</a>
    </div>
  </div>
  <div class="row events">
    <div class="font_12pt span10">
      <h3>Active events:</h3>
      {% with events = story.active %}
        {% include "events/inline_events.html" %}
      {% endwith %}
    </div>
    <div class="font_12pt span10">
      <h3>Archived events:</h3>
      {% with events = story.archive %}
        {% include "events/inline_events.html" %}
      {% endwith %}
    </div>
  </div>
{% endblock %}
